In [1]:
import __init__

import pandas as pd
pd.set_option("display.max_rows", None, "display.max_columns", None)

from db.pgdf import PgDf
from db.postgresql import PostgreSqlDB

d = PostgreSqlDB()
pg = PgDf()

df = pg.read_sql("""WITH t AS (
SELECT 
t.profit,
CASE WHEN t.result = 'lose' THEN -1
    WHEN t.result = 'win' THEN 1
    ELSE 0
END AS result,
CASE WHEN (mado > 1.5) THEN 1 ELSE 0 END AS mado,
CASE WHEN (trend_rate < 0.7) THEN 1 ELSE 0 END AS trend,
CASE WHEN ABS(len_std) > 1.5 THEN 1 ELSE 0 END AS long_candle,
prefer_recent_peaks,
CASE WHEN (reversed_cnt > 2) THEN 1 ELSE 0 END AS reversed,
CASE WHEN (ABS(acc) > 0.6) THEN 1 ELSE 0 END AS acc,
ABS(t.takeprofit_price - t.open_price)/ABS(t.stoploss_price - t.open_price) as ts_rate
FROM zz_strtg_params as z
JOIN trades as t ON t.order_id = z.order_id
WHERE t.trade_name = 'zzstrat_top300vol'
AND abs(t.profit) > 0
AND t.open_price > 1000
), g AS (
SELECT COUNT(*) as cnt, result,mado,trend,long_candle,prefer_recent_peaks,reversed, (SUM(t.profit)/20000) as profit
FROM t
WHERE ts_rate > 0.8
GROUP BY result, mado,trend,long_candle,prefer_recent_peaks,reversed
)
SELECT * FROM g ORDER BY 3,4,5,6,7,2
;""")
df

,cnt,result,mado,trend,long_candle,prefer_recent_peaks,reversed,profit
0,114,-1,0,1,0,0,0,-103.276571
1,121,1,0,1,0,0,0,116.127916
2,39,-1,0,1,0,0,1,-29.281435
3,22,1,0,1,0,0,1,13.978276
4,194,-1,0,1,0,1,0,-187.274200
5,184,1,0,1,0,1,0,173.889464
6,183,-1,0,1,0,1,1,-149.053632
7,213,1,0,1,0,1,1,164.154656
8,37,-1,0,1,1,0,0,-33.801494
9,29,1,0,1,1,0,0,25.848224
10,2,-1,0,1,1,0,1,-1.837424
11,3,1,0,1,1,0,1,2.674107
12,58,-1,0,1,1,1,0,-56.816181
13,58,1,0,1,1,1,0,49.999502
14,31,-1,0,1,1,1,1,-24.168913
15,24,1,0,1,1,1,1,18.184269
16,25,-1,1,1,0,0,0,-22.880470
17,36,1,1,1,0,0,0,34.045081
18,1,-1,1,1,0,0,1,-0.901478
19,1,1,1,1,0,0,1,0.336880
20,43,-1,1,1,0,1,0,-40.487371
21,40,1,1,1,0,1,0,38.307144
22,8,-1,1,1,0,1,1,-6.745834
23,12,1,1,1,0,1,1,9.341465
24,3,-1,1,1,1,0,0,-3.245349
25,2,1,1,1,1,0,0,1.965871
26,4,-1,1,1,1,1,0,-2.740033
27,4,1,1,1,1,1,0,4.097562
28,3,1,1,1,1,1,1,2.473908